* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}
body {
  background-color: rgb(54, 101, 107);
  width: auto;
}
main {
  background-image: linear-gradient(
    to bottom,
    rgb(236, 236, 236),
    rgb(132, 147, 74)
  );
}
#sidenav {
  width: 0px;
  height: 100%;
  background-color: rgb(73, 40, 40);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
#sidenav span {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 25px 25px 18px 22px;
  font-size: 25px;
  cursor: pointer;
}

#sidenav span a:hover {
  color: rgb(101, 109, 63);
}
#sidenav span:nth-child(2):hover {
  color: rgb(101, 109, 63);
}
header {
  background-color: rgb(73, 40, 40);
  /* background-color: rgb(54, 101, 107); */
  color: rgb(148, 173, 25);
  padding: 0 80px 0 80px;
}
.plant-logo {
  width: 50px;
  height: 50px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 65px;
}
.navbar-left {
  display: flex;
  padding-left: 10px;
  gap: 10px;
  align-items: center;
  font-size: 20px;
}
.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 0px 20px 0px 20px;
}
.navbar-right div:hover {
  color: rgb(101, 109, 63);
}
.navbar-right div {
  padding-left: 15px;
}
.dropdown button {
  background-color: rgb(73, 40, 40);
  /* background-color: rgb(54, 101, 107); */
  border: none;
  color: rgb(148, 173, 25);
  align-items: center;
  font-size: 20px;
}
.navbar-right button:hover {
  color: rgb(101, 109, 63);
}
.dropdown a {
  display: block;
  color: rgb(148, 173, 25);
  gap: 10px;
  text-decoration: none;
}
.dropdown a:hover {
  color: rgb(101, 109, 63);
}
.dropdown .content {
  display: none;
  position: absolute;
  background-color: rgb(73, 40, 40);
  /* background-color: rgb(54, 101, 107); */
  border-radius: 4%;
  line-height: 25px;
  padding: 10px 5px 10px 5px;
}
.dropdown:hover .content {
  display: block;
}
.main-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  gap: 10px;
}
.main-text h1 {
  color: rgb(101, 109, 63);
  font-size: 60px;
  text-align: center;
}
.main-text p {
  color: rgb(132, 147, 74);
  font-size: 20px;
  font-style: italic;
}
.card-container {
  display: flex;
  flex-direction: column;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  padding: 30px 10px;
  gap: 30px;
}
.card {
  border: 2px rgb(73, 40, 40) solid;
  width: 450px;
  border-radius: 10px 10px 0 0;
  height: auto;
  background-color: rgb(73, 40, 40);
  color: rgb(148, 173, 25);
  cursor: pointer;
}
.card-row-1 {
  display: flex;
  justify-content: space-evenly;
}
.card img {
  width: 447px;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
}
.card h4 {
  text-align: center;
  font-size: 25px;
  color: rgb(236, 236, 236);
}
.card p {
  font-style: italic;
  text-align: center;
  color: c;
}
.card:hover {
  transition: all 0.3s;
  transform: scale(1.02);
}
footer {
  background-color: rgb(101, 109, 63);
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5px;
  padding-top: 10px;
  height: 170px;
}
.footer-main h2 {
  font-size: 35px;
  color: rgb(73, 40, 40);
  text-decoration: underline;
}
.footer-main p {
  color: rgb(148, 173, 25);
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
}
.footer-main p:hover {
  color: rgb(73, 40, 40);
  cursor: pointer;
  transition: all 0.1s;
  transform: scale(1.02);
}
.footer-sub h3 {
  font-size: 25px;
  color: rgb(73, 40, 40);
  text-decoration: underline;
}
.footer-sub span {
  color: rgb(73, 40, 40);
  font-style: italic;
  font-size: 16px;
  cursor: pointer;
}
.footer-sub li {
  font-size: 18px;
  list-style: none;
  color: rgb(73, 40, 40);
  font-style: italic;
  gap: 40px;
  margin: 15px 0;
  line-height: 14px;
}
.footer-sub li:hover {
  color: rgb(148, 173, 25);
  cursor: pointer;
  transition: all 0.1s;
  transform: scale(1.02);
}
.copyright{
  display: flex;
  justify-content: center;
  font-size: 15px;
  background-color: rgb(73, 40, 40);
  font-weight: 600;
  padding: 5px 0 5px 0;
  color: rgb(148, 173, 25);
}


@media screen and (max-width: 920px) {
  /* CSS rules to apply when the condition is met */
  header{
    overflow: hidden;
  }
  body{
    width: 100vw;
  }
  .navbar-right{
    padding: 0;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    padding: 30px 10px;
    gap: 30px;
  }
  .card {
    border: 2px rgb(73, 40, 40) solid;
    width: 250px;
    border-radius: 10px 10px 0 0;
    height: auto;
    background-color: rgb(73, 40, 40);
    color: rgb(148, 173, 25);
    cursor: pointer;
  }
  .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 65px;
}
  .card-row-1 {
    display: flex;
    justify-content: space-evenly;
  }
  .card img {
    width: 247px;
    height: 200px;
    border-radius: 8px 8px 0px 0px;
  }
  .footer-sub h3 {
    font-size: 20px;
    color: rgb(73, 40, 40);
    text-decoration: underline;
  }
  .footer-main h2 {
    font-size: 30px;
    color: rgb(73, 40, 40);
    text-decoration: underline;
  }
}

@media screen and (max-width: 560px) {
  /* CSS rules to apply when the condition is met */
   body {
    overflow-x: hidden;
  } 
  .navbar {
  display: flex;
  flex-direction: row;
  height: 65px;
}
  .navbar-left {
    display: flex;
    /* padding-left: 10px; */
    gap: 10px;
    align-items: center;
    font-size: 10px;
  }
  .navbar-left h1 {
    font-size: 30px;
  }
  .navbar-right {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
  }
  .navbar-right div {
    font-size: 18px;
  }
  .navbar-right button {
    font-size: 18px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    padding: 20px 10px;
    gap: 15px;
  }
  .card {
    border: 2px rgb(73, 40, 40) solid;
    width: 170px;
    border-radius: 10px 10px 0 0;
    height: auto;
    background-color: rgb(73, 40, 40);
    color: rgb(148, 173, 25);
    cursor: pointer;
  }
  .card-row-1 {
    display: flex;
    justify-content: space-evenly;
  }
  .card img {
    width: 167px;
    height: 200px;
    border-radius: 8px 8px 0px 0px;
  }
  .footer-sub h3 {
    font-size: 15px;
    color: rgb(73, 40, 40);
    text-decoration: underline;
  }
  .footer-main h2 {
    font-size: 20px;
    color: rgb(73, 40, 40);
    text-decoration: underline;
  }
  .footer-sub span {
    color: rgb(73, 40, 40);
    font-style: italic;
    font-size: 12px;
    cursor: pointer;
  }
  .footer-sub li {
    font-size: 12px;
    list-style: none;
    color: rgb(73, 40, 40);
    font-style: italic;
    gap: 40px;
    margin: 8px 0;
    line-height: 14px;
  }
  .footer-main p {
    color: rgb(148, 173, 25);
    font-style: italic;
    font-size: 11px;
  }
  .navbar-left {
    display: flex;
    /* padding-left: 10px; */
    gap: 10px;
    align-items: center;
    font-size: 20px;
  }
  .navbar-right {
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px 0px 10px;
  }
  footer{
    height: 130px;
  }
  /* .navbar-right div {
    padding-left: 15px;
  } */
}